@model IEnumerable<Hackathon_Internship.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Amount
        </th>
        <th>
            Customer
        </th>
        <th>
            Customer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cust_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reservation.cust_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pid }) |
            @Html.ActionLink("Details", "Details", new { id=item.pid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pid })
        </td>
    </tr>
}

</table>
