@model Hackathon_Internship.Models.Reservation

@{
    ViewBag.Title = "Create";
}

<h2>Booking</h2>
<script>
   

    function calculateTax() {
        var Hours = document.getElementById("Hours").value;
        var Price_per_Hour = 100;
        document.getElementById("Total").value = Price_per_Hour * Hours;
    }
</script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.field_id, "FIELD ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("field_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.field_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.venue_id, "COURT ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("venue_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.venue_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cust_id, "CUSTOMER ID ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cust_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cust_id, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.total_time, "NUMBER OF HOURS ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.total_time, new { htmlAttributes = new { @class = "form-control", @type = "number", @id = "Hours", @onchange = "calculateTax();" } });
            @Html.ValidationMessageFor(model => model.total_time, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.total_amt, "TOTAL PRICE ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.total_amt, new { htmlAttributes = new { @class = "form-control", @id = "Total" } })
            @Html.ValidationMessageFor(model => model.total_amt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-success btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
